.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: max(100px, 10vh);
    position: sticky;
    top: 0;
    z-index: 999;
    overflow: hidden;
}

.logo_link {
    height: 100%;
}

.logo {
    height: 100%;
}

.links {
    list-style: none;
    display: flex;
}

@media screen and (max-width: 768px) {
    .links {
    display: none;
    }
}

.nav_link {
    text-decoration: none;
    color: white;
    margin: max(20px, 2vw);
}

.nav_link:hover {
    color: lightseagreen;
}

.mobileIcon {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobileIcon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    margin-top: max(1.25vh, 12.5px);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
    }
}
